html,
button,
input,
select,
textarea
{
color:#444;
}

html{ font-size: 1em; 
      line-height: 1.4;
    }

body{
background:#B9D0DC;
/* Ajout du font choisi poour le <body> */
font-family: actor, sans-serif; /*Pour le font Actor */

}

#wrapper{
min-width:320px;
max-width:900px;
text-align:center;
margin:auto;
}

img{
border:3px solid;
border-right:1px;
border-color:black;
color:black;
float:right;
box-shadow: 8px 8px 5px black;
}

ol ul{
/* Ajout du font pour les balises imbriquées dans <section> */
font-family: adamina, serif;
color:#62524E;
}

#moncv{
color:blue;
border: 3px solid;
text-align: justify;
border-color:#62524E;
/* Propriétés des margins */
margin-top: 30px;
margin-bottom:20px;
margin-left:20px;
margin-right:20px;
/* Propriété du padding */  
padding-left:10px;
padding-right:10px;
padding-top:10px;
padding-bottom:10px;
}


#ExpP{
background-color:#6E96D5;
}

#Formation{
background-color:#D4DCE8;
}

#Langues{
background-color: #6E96D5;
}

#loisirs{
background-color: #D4DCE8;
}

header h1{
color:red;
text-align: center;
color:#212930;
}

header{
background-color:#B3BCC0;
text-align:left;
border: 3px solid;

margin-top: 30px;
margin-bottom:20px;
margin-left:20px;
margin-right:20px;

padding-left:20px;
padding-right:20px;
padding-top:5px;
padding-bottom:5px;
}


section h1{
text-align:center;
color:#1F211C;
}

section ul{
text-align:justify;
}

section ol{
text-align:justify;
}


footer{
background-color:#A8ADB4;
text-align:center;
border: 3px solid;

margin-top: 30px;
margin-bottom:20px;
margin-left:20px;
margin-right:20px;

padding-left:20px;
padding-right:20px;
padding-top:5px;
padding-bottom:5px;
}

