html,
button,
input,
select,
textarea
{
color:#444;
}

html{ font-size: 1em; 
      line-height: 1.4;
    }

body{
background:#A59997;
/* Ajout du font choisi poour le <body> */
font-family: actor, sans-serif; /*Pour le font Actor */
}

#wrapper{
min-width:320px;
max-width:900px;
text-align:center;
}

img{
border:1px solid;
border-right:1px;
border-color:#6E6A12;
color:white;
float:right;
box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
}

dl dt dd{
/* Ajout du font pour les balises imbriquées dans <section> */
font-family: adamina, serif;
}




